# Logs
Code/VorteKia/logs
Code/VorteKia/*.log
Code/VorteKia/npm-debug.log*
Code/VorteKia/yarn-debug.log*
Code/VorteKia/yarn-error.log*
Code/VorteKia/pnpm-debug.log*
Code/VorteKia/lerna-debug.log*

Code/VorteKia/node_modules
Code/VorteKia/dist
Code/VorteKia/dist-ssr
Code/VorteKia/*.local

# Editor directories and files
Code/VorteKia/.vscode/*
Code/VorteKia/!.vscode/extensions.json
Code/VorteKia/.idea
Code/VorteKia/.DS_Store
Code/VorteKia/*.suo
Code/VorteKia/*.ntvs*
Code/VorteKia/*.njsproj
Code/VorteKia/*.sln
Code/VorteKia/*.sw?
